@import "tailwindcss";

/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
} */

body{
  background-color: #fefff7;
}

/* Custom scrollbar hide */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* Paragraphs & other body text */
p, li, span, div {
  font-family: 'Merriweather', serif; /* or 'Georgia', serif */
  font-weight: 400;
  line-height: 1.5;
}